.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
  }
  .hide {
    display: none !important;
  }
  svg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  
  .stroke-still {
    stroke: #232323;
  }
  
  .stroke-animation {
    -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  
  @-webkit-keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  
  @keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  
  @-webkit-keyframes stroke-color {
    0% {
      stroke: #3498db;
    }
    24% {
      stroke: #643232;
    }
    25% {
      stroke: #327864;
    }
    49% {
      stroke: #327864;
    }
    50% {
      stroke: #32326e;
    }
    74% {
      stroke: #32326e;
    }
    75% {
      stroke: #78325a;
    }
    99% {
      stroke: #78325a;
    }
  }
  
  @keyframes stroke-color {
    0% {
      stroke: #3498db;
    }
    24% {
      stroke: #643232;
    }
    25% {
      stroke: #327864;
    }
    49% {
      stroke: #327864;
    }
    50% {
      stroke: #32326e;
    }
    74% {
      stroke: #32326e;
    }
    75% {
      stroke: #78325a;
    }
    99% {
      stroke: #78325a;
    }
  }

  
table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th,td {
    padding: 10px 10px;
}

 tbody tr {
    border-bottom: 1px solid #dddddd;
}

 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:8px;
    font-weight: 500;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 1px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }

  .loader {
    -webkit-animation: spin 21s linear infinite;
    animation: spin 1s linear infinite;
    border: 10px solid #f3f3f3;
    border-color: blue green red pink;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    height: 70px;
    width: 70px;
    position: fixed;
    left: 50%;
    top: 30%;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  /* .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  } */