.item1 {
  grid-area: header;
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}
.item2 {
  grid-area: menu;
  border-right: 1px solid #ccc;
  background-color: #e8ebf0;
}
.item3 {
  grid-area: main;
  background-color: #e8ebf0;
}
.grid-container {
  display: grid;
  height: 100vh;

  grid-template-columns: 240px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'header header'
    'menu main';
  gap: 0 20px;
}
.heaer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.tit_h2 {
  flex: 1;
  text-align: left;
}
.profile {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 100%;
}
ul,li{padding: 0;list-style: none;}
.item2 ul li a{color:#009cff;font-family: "Heebo",sans-serif;font-size: 1rem;padding: 7px 20px;font-weight: 500;line-height: 1.5;}
